<div class=" form">
    <p class=" link"><a  href="/">Go back</a></p>

    <div>
        <script type="text/javascript" src="https://form.jotform.com/jsform/221361654214549"></script>
    </div>
    
</div>

 <style>
    .link{
        text-align: center;
        font-size: 50px;
    }
 </style>

